@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap");

@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}
main {
    padding: 30px;
}
li {
    margin-bottom: 10px;
    margin-left: 20px;
}
.name-lesson {
    display: inline-block;
    margin-top: 75px;
    margin-left: 30px;
    font-family: Cormorant;
    font-weight: 500;
    margin-bottom: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
}
.link {

    margin-left: 2500px;
    margin-top: -90px;
    font-weight: 600;
    width: 300px;
    height: 100px;
    border: 5px solid red;
    background-color: yellow;
    text-align: center;
    padding: 35px;
    margin-bottom: 10px;
}
.link:hover {
    background-color: green;
}

.article-container {
    margin-top: 50px;
    margin-left: 300px;
    display: block;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    padding-left: 165px;
    padding-top: 220px;
    background-color: gray;
}

.text{
    color: red; 
}
.text-hover {    
    visibility: hidden; 
    color: rgb(255, 247, 0);   
}
.article-container:hover .text{
    display: none;
}
.article-container:hover{
    background-color: blue;
}
.article-container:hover .text-hover {    
    visibility: visible;
}
[class*="__container"]{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: darkolivegreen;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 150px;
    left: 0;
    z-index: 50;
}
.menu {

}
.menu__item {
    display: inline-block;
    color: beige;
}
.menu__link {
}
.page {
    padding-top: 70px;
    padding-bottom: 70px;
}
.page__container {
    font-size: 0;
}
.side {
    vertical-align: top;
    font-size: 35px;
    width: 300px;
    padding:30px;
    display: inline-block;
    background-color: blueviolet;
}
.content {
    font-size: 35px;
    display: inline-block;
    padding: 15px;
    background-color: brown;
    width: 600px;
}
