@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap");

@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}
.name-lesson {
    display: inline-block;
    margin-top: 75px;
    margin-left: 30px;
    font-family: Cormorant;
    font-weight: 500;
    margin-bottom: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
}
.link {

    margin-left: 2500px;
    margin-top: -90px;
    font-weight: 600;
    width: 300px;
    height: 100px;
    border: 5px solid red;
    background-color: yellow;
    text-align: center;
    padding: 35px;
    margin-bottom: 10px;
}
.link:hover {
    background-color: green;
}

.article-container {
    margin-top: 50px;
    margin-left: 300px;
    display: block;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    padding-left: 165px;
    padding-top: 220px;
    background-color: gray;
}

.text{
    color: red; 
}
.text-hover {    
    visibility: hidden; 
    color: rgb(255, 247, 0);   
}
.article-container:hover .text{
    display: none;
}
.article-container:hover{
    background-color: blue;
}
.article-container:hover .text-hover {    
    visibility: visible;
}
li {
    list-style: none;
}
/* ========================================= */
[class*="__container"] {
    max-width: 2805px;
    margin-left: 10px;
    padding: 15px;
}
.header {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 50;
}
.header__container {

}
.menu-header {
    background-color: gray;
    padding: 25px;
}
.menu-header__item {
    display: inline-block;
    position: relative;
}

.menu-header__link {
    display: inline-block;
    background-color: aqua;
    padding: 20px;
}
.menu-header__item:hover .menu-header__link {
    background-color: yellow;
}
.menu-header__item:hover .sub-menu {
    visibility: visible;
}
.sub-menu {
    position: absolute;
    background-color: rgb(0, 128, 122);
    top: 100%;
    left: 0;
    width: 230px;
    visibility: hidden;
}
.sub-menu__item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub-menu__link {
    display: inline-block;
    padding: 10px;
}
.sub-menu__link:hover {
    text-decoration: underline;
    color: azure;
}
/* ==============main=============== */
.page {
    padding-top: 300px;
    padding-bottom: 70px;
}
.page__conteiner {
font-size: 0;
padding-left: 700px;
}
/* ============сайдбар============ */
.side {
    position: sticky;
    top: 300px;
    vertical-align: top;
    font-size: 30px;
    width: 400px;
    display: inline-block;
    background-color: blueviolet;
    padding: 15px;
}
.menu-side {
}
.menu-side__item {
    position: relative;
}
.menu-side__item:not(:last-child) {
    margin-bottom: 10px;
}
.menu-side__link {
    background-color: brown;
    display: block;
    padding: 10px;
}
.menu-side__item:hover .menu-side__link {
    background-color: rgb(227, 15, 15);
}
.menu-side__item:hover .sub-menu-side {
    visibility: visible;
}
.sub-menu-side {
    position: absolute;
    top: 0;
    left: 100%;
    padding-left: 5px;
    width: 300px;
    visibility: hidden;
}
.sub-menu-side__item {
    background-color: rgb(74, 168, 62);
}
.sub-menu-side__link {
    display: block;
    padding: 10px;
}
.sub-menu-side__link:hover {
    text-decoration: underline;
    color: beige;
}
/* ==============3й уровень============== */
.menu-sub-side__item {
    position: relative;
}
.sub3-menu-side {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: brown;
    display: block;
    padding: 10px;
    visibility: hidden;
}
.sub3-menu-side:hover .sub3-menu-side__link {
    visibility: visible;
}
.sub3-menu-side__link {

}

/* ===============content============= */
.content {
font-size: 30px;
display: inline-block;
background-color: rgb(230, 27, 189);
padding: 15px;
width: 800px;
}