@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap");@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
  
@import url("reset.css");

  body {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    padding-left: 30px;
  }
main {
  padding: 30px;
}
li {
  margin-bottom: 10px;
}
.container {
  max-width:3000px;
margin: 0 auto;
padding: 0 15px;
  border: 3px solid red;
  background-color: aquamarine;
}
.preamble {
  margin-top: 20px;
  width: 1000px;
  height: 200px;
  border: 20px double rgb(247, 7, 7);
  border-radius: 20px;
  margin-left: 1000px;
  text-align: center;
  padding: 65px;
  color: yellow;
  background-color: blue;
  margin-bottom: 100px;
}
.p2 {
  opacity: 0;
}
.p2:hover {
  opacity: 1;
}
.example {
  margin-top: 20px;
  width: 750px;
  border: 20px solid orangered;
  margin-left: 1125px;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  background-color: rosybrown;
}
.example:hover {
  color: bisque;
  border: 20px solid green;
  background-color: blueviolet;
}
