@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

  @import url("reset.css");

  .body {
    font-family: "Inter", sans-serif;
    font-size: 35px;
  }
  ol,ul {
    padding-left: 30px;
  }
main {
  padding: 30px;
}
  .container {
    max-width: 1200px;
  }
  .container-bor {
  }
  /* свойства рамки solid, dotted, transparent */
  .block-bor {
    background-color: blue;
    border: 20px solid gray;
    width: 550px;
  }
  .block-dot {
    background-color: yellow;
    border: 20px dotted red;
    text-align: center;
    width: 550px;
  }
  .block-transp {
    background-color: yellowgreen;
    border: 5px solid orangered;
    width: 550px;
  }
   
  .block-transp:hover {
    border: 5px solid transparent;
  }
  .block-side {
    border-top: 50px solid green;
    border-bottom: 10px dotted blueviolet ;
    border-right: 10px double red ;
    border-left: 30px dashed yellow;
    color: brown;
    padding-bottom: 10px;
    text-align: center;
  }
  .block-side a {
    color: red;
    font-size: 25px;
    border-bottom: 5px dashed;  
  }
  .block-side a:hover {
    color: green;
  }
  .block-dot p {
    margin-bottom: 50px;
  }
  .inline-bor {
    background-color: green;
    border: 5px solid red;
    line-height: 2.5;
  }
  .inline-block-bor {
    background-color: orange;
    border: 10px solid green;
  }
  .pronacio {
    outline: 20px solid blueviolet;
  }
  .pronacio a {
    color: goldenrod;
  }
  .pronacio a:focus {
    outliine: 1px dotted brown
  }
  /* закругления */
  .container-radius {
    margin-top: 30px;
    max-width: 1100px;
  }
  .block-rad {
    display: inline-block;
    max-width: 500px;
    max-height: 500px;
    background-color: brown;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
  }
  .block-rad2 {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    max-width: 500px;
    max-height: 500px;
    background-color: brown;
    border-radius: 20px 10px 15px 5px;
    text-align: center;
    padding: 15px;
  }
  .block-rad3 {
    margin-top: 10px;
    max-width: 500px;
    max-height: 500px;
    background-color: brown;
    border-radius: 20%;
    text-align: center;
    padding: 15px;
  }
  /* круг */
  .block-rad4 {
    display: inline-block;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    background-color: brown;
    border-radius: 50%;
    text-align: center;
    padding: 160px;
  }
  .inline-block-rad {
    border-radius: 25px;
  }
  .block-rad5 {
    display: inline-block;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 25px;
    text-align: center;
    padding: 90px 40px 40px 40px;
    box-shadow: 30px 20px 20px 20px green,
    -30px -20px 20px 20px blue;
  }
  .block-rad6 {
    display: inline-block;
    margin: 60px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 25px;
    text-align: center;
    padding: 90px 40px 40px 40px;
    box-shadow: inset 0px 0px 50px black;
  }
  /* прозрачность */
  .block-rad7 {
    opacity: 0.5;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 25px;
    text-align: center;
    padding: 90px 40px 40px 40px;
  }
  /* макет-1 */
  /* для удобства понимания отступов и центровки поставил в рамку, которой в макете нет. Прошу не считать за ошибку. */
  .conteiner-m1 {
    width: 1218px;
    height: 1045px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 350px;
    margin-right: 352px;
    border: 1px solid blue;
  }
  .title {
    width: 296px;
    height: 73px;
    margin-top: 0;
    margin-left: 461px;
    margin-right: 461px;
    text-align: center;
  }
  .block {
    margin-top: 10px;
    margin-right: 6px;
    vertical-align: -2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(60, 60, 250);
    background-color: #40DDB6;
  }
  .sqare {
    opacity: 0;
  }
  .preamble {
    display: inline-block;
    margin-top: 6px;
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .subtitle-m1 {
    margin-top: 16px;
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }
  .content {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }