@import url("reset.css");
ol {
  padding-left: 20px;
}
/* нулевой уровень */
* {
    color: red;
}
/* cелектор тега "р" и тега "а" */
p {
    color: blue;
}
a {
    color: green;
}
/* селектор class */
.text {
    color: blueviolet;
}
.list {
    color: brown;
}
.lesson {
    color: yellow;
}
/* идентификатор */
#some-id {
    color: aqua;
}
/* комбинации селекторов */
.page__text.text {
    color: grey;
}
/*оптимизация для разных классов */
/* li закоментировал для наглядности примера (см. выше -стр.6*/
/* li, */
.optimisation,
.second-optimisation {
    color: darkorchid;
}
/* какадность */
.cascad a {
    color: brown;
}
.cascad .black-text{
    color: black;
}
/* сочетание каскада по уровню вложенности1 */
.oll * {
    color: fuchsia;
}
/* сочетание каскада по уровню вложенности2 (1й уровень) */
.nesting > p {
    color: darkgreen;
}
.same-level ~ p {
color: orange;
}
/*выделение первого блока под другим (указанным блоком)  */
.under-block > ul + p {
    color: deeppink;
}
/* селектор атрибутов */
[class*="__container"] {
    color: rgb(5, 176, 25);
}
/* приоритеты селекторов */
/* приоритет по прописанному самым нижним */
h2 {
    color: blue;
}
h2 {
    color: rgb(235, 11, 220);
}
.last {
    color: rebeccapurple;
}
.last {
    color: blue;
}
/* "звёздочка" - "костыль" закоментировано специально. Для проверки эффекта - разеоментировать. */
* {
    color: rgb(12, 117, 209);
}
p {
    color: rgb(14, 219, 48);
}
.some-p {
    color: red;
}
/* Для получения эффекта (перекрывающим предыдущий) - разкоментировать */
/*  */
/* /* p.some-p { 
    color: orangered;
} */
/* селектор класса и селектор атрибута */
[class*="__container"]{
    color: brown;
}
.about__container {
    color: sandybrown;
}
.some-div {
    color: indigo;
}
#some-div-id {
    color: black;
}
/* important (!) изучен и понят. Не применял, т.к. мне это понятно и не хочу ломать всю картинку */ 