@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap");@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding-left: 30px;
}

main {
padding: 50px;
}
h1 { 
    margin-bottom: 30px;
}

li {
margin-bottom: 10px;
}
.title {
    margin-bottom: 25px;
}
.title-one:hover {
color: blue;
text-decoration: underline
}
.subject {
    color: red;
}
.example {
    margin-bottom: 25px;
    text-decoration: underline;
}
/* ======ПРАКТИКА====== */

.text p {
    line-height: 130%;
    margin-bottom: 10px;
}
.text p:first-child {
    color: green;
}
/* закоментировал, чтобы был виден пример first-child */
/* .text p:first-of-type {
    color: brown;
} */
/* Также изучил last-child/last-of-type*/

/* Для этого примера закоментил в HTML <span>test-test-test-test-test-test-</span> */
.text p:nth-child(4) {
    background-color: blueviolet;
}
.text p:nth-child(odd) {
    color: green;
}
