
 /* Все подключения шрифтов идут до сброса настроек!!! */

@import url("font.css");

@import url("reset.css");

ol, ul  {
  padding-left: 20px;
}
ol {
  list-style-type: decimal-leading-zero;
  }
body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #7D7D7D;
}
.title, .sub-title {
  font-family: "Poppins", sans-serif;
}
.title {
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.sub-title {
  font-size: 20px;
  color: #6B77E5;
}
.sub-title-proj {
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 127%;
color: black;
/* выравнивание текста по центру-левый край - правыйкрай - растягвание на весь экран */
text-align: center;
}
.leveling {
  text-align: justify;
}
/* декорирование текста + выравнивание */
.line-throigh {
  text-decoration: line-through;
  text-align: right;
}
.overline {
  text-decoration: overline;
}
.underline {
  text-decoration: underline;
}
.jastify {
  text-align: justify;
}


/* использование шрифта, подключённого вручную */
.number, .marker {
font-family: minitaka;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 146.187%
}
